@font-face {
  font-family: "OptimusPrinceps";
  src: url("../fonts/OptimusPrinceps.ttf") format("ttf"),
    url("../fonts/OptimusPrincepsSemiBold.ttf") format("ttf");
  font-size: normal;
  font-weight: normal;
}
/* #d15909 */
:root {
  --main-color: #d15909;
  --main-bg-color: #121212;
  --main-font-family-optimus: "OptimusPrinceps", Arial, sans-serif;
  --main-font-family-roboto: "Roboto", sans-serif;
}

.main-color {
  color: var(--main-color);
}
.main-bg-color {
  background-color: var(--main-bg-color);
}
.main-shade-color-bright {
  color: var(--main-color);
}
.main-font {
  font-family: var(--main-font-family-optimus);
  font-size: 1.2em;
}

.secondary-font {
  font-family: var(--main-font-family-roboto);
}
/* body + General rules */

body {
  font-family: var(--main-font-family-optimus);
  background: var(--main-bg-color);
  color: #fff;
}

p,
input {
  font-family: "Roboto", sans-serif;
  line-height: 1.6em;
}

h3 {
  font-size: 2em;
}
h4 {
  font-family: var(--main-font-family-roboto);
}

@keyframes pulseContent {
  0% {
    opacity: 0.3;
    box-shadow: 0px 2px 5px var(--main-color);
  }
  100% {
    opacity: 1;
    box-shadow: 0px 2px 10px var(--main-color);
  }
}

.container-glow {
  position: relative;
  padding: 20px;
  z-index: 1;
  transition: transform 1s ease;
}

.container-glow:hover {
  transform: translateY(-0.35em) scale(1.02);
}

.container-glow::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.3;
  z-index: -1;
  animation: pulseContent 5s infinite alternate-reverse;
}

.simple-link {
  color: var(--main-color);
  text-decoration: underline;
}

.simple-link:hover {
  color: var(--main-color);
  text-decoration: none;
  font-weight: bold;
}
.container .row {
  padding: 15px 5px;
}

.hidden {
  visibility: hidden;
}

/* Navigation */

.main-nav {
  font-size: 1em;
  position: fixed;
  color: #fff;
  background: var(--main-bg-color);
}

@keyframes pulseNav {
  0% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}
.main-nav::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: 0px 5px 10px var(--main-color);
  opacity: 0.3;
  z-index: -1;
  animation: pulseNav 5s infinite ease-in-out alternate-reverse;
}

.link-dropdown {
  color: #fff;
  margin: 20px;
  position: relative;
}
.link-dropdown:hover {
  color: var(--main-color);
}
.link-upgraded {
  margin: 20px;
  position: relative;
}
.link-upgraded:hover {
  color: var(--main-color);
}

.link-upgraded::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: var(--main-color);

  transform: scaleX(0);
  transform-origin: right;
  transition: transform 250ms ease-in;
}

.link-upgraded:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

.navbar-brand {
  margin-left: 3rem;
  font-size: 3em;
}
.navbar-brand:hover {
  color: var(--main-color);
}
.brand {
  height: 100px;
  width: 100px;
}
.nav-link {
  color: #fff;
  line-height: 0.8;
}

.navbar-toggler {
  border: 1px solid var(--main-color);
  color: var(--main-color);
}
.navbar-collapse {
  background-color: var(--main-bg-color);
}

.dropdown-asset {
  background-color: var(--main-bg-color);
}

.dropdown-asset a {
  color: #fff;
}

.dropdown-asset a:hover {
  color: #fff;
  background: #1b1b1b;
}
.profil {
  width: 40px;
  height: 40px;
  border-radius: 50%;

  padding: 2px;
  border: 1px solid var(--main-color);
}

.profil:hover {
  border: 2px solid var(--main-color);
}
/* popup connexion */

.open-button {
  background: var(--main-color);
  color: #fff;
  box-shadow: inset 0 0 5px 5px rgb(0, 0, 0, 0.3);
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.login-popup {
  position: relative;
  width: 100%;
  text-align: center;
}
.second-menu {
  margin-right: 20px;
}
.close {
  background-color: #fff;
}

.form-popup {
  position: fixed;
  display: none;
  right: 2%;
  top: 150px;
  border: 2px solid var(--main-color);
  z-index: 9;
}
/* Styles pour le conteneur du formulaire */
.form-container {
  max-width: 300px;
  padding: 20px;
  background-color: var(--main-bg-color);
}
/* Largeur complète pour les champs de saisie */
.form-container input[type="text"],
.form-container input[type="password"] {
  width: 100%;
  padding: 10px;
  margin: 5px 0 22px 0;
  border: none;
  background: #eee;
}
.form-container input[type="text"]:focus,
.form-container input[type="password"]:focus {
  background-color: #ddd;
  outline: none;
  font-weight: bold;
}
/* Stylez le bouton de connexion */
.form-container .btn {
  color: #fff;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
  opacity: 0.8;
}

.btn-submit {
  background-color: var(--main-color);
}

/* Planez les effets pour les boutons */
.form-container .btn:hover,
.open-button:hover {
  opacity: 1;
}

/* footer section */
.section-footer {
  box-shadow: 5px 0px 10px var(--main-color);
  padding: 20px;
  margin-top: 50px;
}
.footer-title {
  border-bottom: 2px solid var(--main-color);
}
.fa-twitter {
  color: #1a91da;
  font-size: 30px;
}
.fa-discord {
  color: #6e85d3;
  font-size: 30px;
}

/* Block page */
/* Landing Page */

.motto {
  margin-top: 120px;
  font-size: 9em;
  color: var(--main-color);
}

.jumbotron {
  background-image: url("../image/skeleton-fire.jpg");
  background-blend-mode: overlay;
  background-color: rgb(0, 0, 0, 0.6);
  background-size: 100% 100%;
  margin-top: 120px;
  height: 70vh;
  box-shadow: 0px 2px 10px var(--main-color);
}

.dogme {
  min-height: 200px;
}

.section-divider {
  width: 100%;
  height: 1px;
  margin: 20px;
  box-shadow: 0px 2px 10px var(--main-color);
}

/* TeamPage */

.main-section {
  padding: 20px 0px;
  margin-top: 120px;
}
.card {
  width: 20rem;
  height: 26rem;
}
.card-img {
  width: 100%;
  min-height: 10rem;
  max-height: 15rem;
  height: auto;
  padding: 5px;
  opacity: 0.8;
}

.card-team {
  margin-top: 10px;
}

.card-title {
  font-weight: bold;
}
/* ApplyPage */
.form-control {
  font-family: var(--main-font-family-roboto);
  background-color: rgba(255, 255, 255, 0.8);
}

.form-control:hover {
  border: 2px solid var(--main-color);
}

.apply-submit {
  width: 30%;
  padding: 10px;
}
/* Texte card */
.secondary-title {
  font-size: 4em;
  border-radius: 50%;
}

.rotation {
  transition: transform 1s ease;
}

.rotation:hover {
  transform: rotateY(360deg);
}

.btn-color {
  background-color: var(--main-color);
  color: #fff;
  border-radius: 15px;
}

/* ProjectPage */

.bio-section {
  margin-top: 10px;
}
.text-bio {
  line-height: 1.5;
}

/* NW-page */

.mask {
  background-color: rgb(18, 18, 18, 0.95);
}
.twitter-timeline {
  color: #fff;
}
.article-bg {
  height: auto;
  width: 100%;
}
.article-title {
  padding-top: 20px;
}
/* Profil page */
#profil-picture {
  border-radius: 50%;
  height: 100px;
  width: 100px;
}

.profil-card {
  position: relative;
  margin: 15px;
  z-index: 1;
}

.profil-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: 1px 1px 5px var(--main-color);
  z-index: -1;
  animation: pulseContent 3s infinite alternate-reverse;
}

.profil-pseudo {
  font-size: 2em;
}

/* Modified profil page  */
#alert-tips {
  display: none;
  color: crimson;
  font-size: 0.8rem;
}
/* Media Queries */
@media (max-width: 1400px) {
  .motto {
    font-size: 6em;
  }
  nav {
    font-size: 3em;
  }
}
@media (max-width: 992px) {
  p {
    padding: 0px 5px;
  }
  .motto {
    margin-top: 180px;
    font-size: 3em;
  }
  .main-section {
    margin-top: 150px;
  }
  nav {
    justify-content: space-around;
  }
  .open-button {
    margin: 0 auto;
    margin-bottom: 10px;
  }
  .navbar-collapse {
    text-align: center;
  }
  .dropdown {
    text-align: center;
  }
  .form-container .btn {
    opacity: 1;
  }
  .card {
    margin: 0 auto;
  }
  .navbar-brand {
    margin-left: 0;
    font-size: 2em;
  }
  .twitter-asset {
    margin-left: 50px;
  }
  .btn-profil {
    margin-left: 15px;
  }
  .container-glow {
    margin: 5px 20px;
  }
  .form-popup {
    top: 200px;
    background-color: var(--main-bg-color);
    left: 5%;
  }
}
